<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style>
        body{
            margin: 0;
            font-family: 'Lato',sans-serif;
        }
        button{
            font-family: 'lato',sans-serif;
        }
        h1{
            margin: 0;
        }
        p{
            margin: 0;
        }
        .bg-gray-900{
            background-color: #121826;
        }

        .text-white{
            color: white;
        }
        .block{
            display: block;
        }
        .inline.block{
            display: inline-block;
        }
        .inline{
            display: inline;
        }
        .hidden{
            display: none;
        }
        .flex{
            display: flex;
        }
        .justify-between{
            justify-content: space-between;
        
        }
        .justify-center{
                justify-content: center;
        }
        .items-center{
            align-items: center;
        }
        .m-8{
            margin: 8px;
        }
        .p-8{
            padding: 8px;
        }
        .pt-18{
            padding: 18px;
        }
        .py-18{
            padding-top: 18px;
            padding-bottom: 18px;
        
        }
        .py-8{
            padding-top: 8px ;
            padding-bottom: 8px;
        }
        .px-16{
            padding-left: 16px;
            padding-right: 16px;
        }
        .py-12{
            padding-top: 12px ;
            padding-bottom: 12px;
        }
        .px-28{
            padding-left: 28px;
            padding-right: 28px;
        }
        .font-lato{
            font-family: 'Lato',sans-serif;
        }
        .no-underline{
            text-decoration: none;
        }
        .bg-brand-teal{
            background-color: teal;
            
        }
        .borrder-none{
            border: none;
        }
        .border-full{
            border-radius: 9999px; ;
        }
        .font-bold{
            font-weight: bold;
        }
        .upper-case{
            text-transform: uppercase;
        }
        .text-sm{
            font-size: 14px;
        }
        .w-full{
            width: 100%;
        }
        .relative{
            position: relative;
        }
        .z-10{
            z-index: 10;
        }
        .text-brand-teal{
            color: #90CAC7;

        }
        .bg-white{
            background-color: white;
        }
        .text-brand-teal-dark{
            color: #539D98;

        }
        .absolute{
            position: absolute;
        }
        .mx-auto{
            margin-left: auto;
            margin-right:auto ;
        }
        .text-16px{
            font-size: 16px;
        }
        .text-36px{
            font-size: 36px;
        }
        @media(min-width:640px){
            .sm\:text-60px{
                font-size: 60px;
            }
            .sm\:text-20px{
                font-size: 20px;
            }
        }
    </style>
</head>


<header class="bg-gray-900 flex justify-between py-18 relative z-10 mx-auto bg-blue"
style="padding: 18px 12px; max-width: 1200px;">
    <div class="flex justify-between items-center ">
        <img src="./logo.svg" alt="" style="margin-right: 50px;;">
        <a href="" class="text-white  py-8 px-16 no-underline">Pricing</a>
        <a href="" class="text-white py-8 px-16 no-underline" >Courses</a>
        <a href="" class="text-white py-8 px-16 no-underline">Blog</a>
        <a href="" class="text-white py-8 px-16 no-underline">Forum</a>
    </div>
    <div class="flex items-center">
        <a href="" class="text-white block py-8 px-16 no-underline" style="margin-right: 50px;;">Login</a>
        <button class="bg-brand-teal text-white border-none border-full font-bold  upper-case text-sm py-12 px-28">Sign up</button>
    </div>
</header>
<section  class="relative">
    <!--<img src="./img/hero.png" alt="" class="w-full">-->
    <video 
        loop="loop" 
        autoplay="autoplay" 
        playsinline="" 
        muted="muted" 
        class="w-full h-full object-cover absolute" 
        style="min-height: 689px; top: -77px;"
        src="./videos/galaxy.mp4" >
        
    </video>
    <div    class="mx-auto"
            style="padding:0 12px;
                   padding-top:100px;
                   max-width: 1200px;">
            
    
        <div class=" relative z-10" style="max-width: 538px;">
            <h1 style="font-size: 60px;" class="text-white text-36px sm:text-60px">Turbocharge your <span class="text-brand-teal"> development career</span></h1>
            <p class="text-white text-16px sm:text-20px" 
            style="max-width:449px ;  font-size:20px; margin-top: 30px;">Chris Courses provides students and professionals a college-level web development education.</p>
            <button style="margin-top: 28px; border-radius: 4px;" 
                class="bg-white text-brand-teal-dark border-none py-12 px-28 ">Get started</button>
        </div>
    </div>
</section>
